<div class="auth-container">
    <h2>Registrar</h2>
    <form action="/register" method="POST" class="auth-form">
        <div class="form-control">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-control">
            <label for="confirmpassword">Confirmar Senha:</label>
            <input type="password" id="confirmpassword" name="confirmpassword" required>
        </div>
        <input type="submit" value="Registrar">

        <p>Já tem conta? <a href="/login">Faça login</a></p>
    </form>
</div>

