<div class="auth-container">
    <form action="/toughts/add" method="POST">
        <h2>Criar Pensamento</h2>
        <div class="form-control">
            <label for="title">Titulo:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <input type="submit" value="Criar Pensamento">
    </form>
</div>